.App {
  text-align: center;
}

.login {
  min-height: 40vh;
  width: 30%;
  display: grid;
  margin: 20% 35%;
  margin-top: 3%;
}

.App-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* Articles */
.article-container {
  width: 400px;
  margin: 24px;
}

.article-poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.article-summary {
  margin-top: 0px;
}

.article-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-N-btn {
  display: flex;
  align-items: center;
  gap: 0px;
}

.article-rating {
  margin-top: 1px;
  font-size: 18px;
}

.article-name {
  margin-top: 1px;
  font-size: 22px;
}

.article-toggle {
  margin-top: -20px;
}

.article-info {
  margin-top: -20px;
}
